services:
  auth:
    image: dev1pci2025/bletrackingbackend-auth:prod
    ports:
      - "5001:5001"
    volumes:
      - ./.env:/app/.env
    restart: always

  floorplan-device:
    image: dev1pci2025/bletrackingbackend-floorplan-device:prod
    ports:
      - "5003:5003"
    volumes:
      - ./.env:/app/.env
    restart: always

  floorplan-masked-area:
    image: dev1pci2025/bletrackingbackend-floorplan-masked-area:prod
    ports:
      - "5004:5004"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-floor:
    image: dev1pci2025/bletrackingbackend-mst-floor:prod
    ports:
      - "5013:5013"
    volumes:
      - ./Uploads/FloorImages:/app/Uploads/FloorImages
      - ./.env:/app/.env
    restart: always

  mst-floorplan:
    image: dev1pci2025/bletrackingbackend-mst-floorplan:prod
    ports:
      - "5014:5014"
    volumes:
      - floorplan_images:/app/Uploads/FloorplanImages
      - ./.env:/app/.env
    restart: always

  mst-integration:
    image: dev1pci2025/bletrackingbackend-mst-integration:prod
    ports:
      - "5015:5015"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-accesscontrol:
    image: dev1pci2025/bletrackingbackend-mst-accesscontrol:prod
    ports:
      - "5006:5006"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-accesscctv:
    image: dev1pci2025/bletrackingbackend-mst-accesscctv:prod
    ports:
      - "5005:5005"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-blereader:
    image: dev1pci2025/bletrackingbackend-mst-blereader:prod
    ports:
      - "5008:5008"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-brand:
    image: dev1pci2025/bletrackingbackend-mst-brand:prod
    ports:
      - "5009:5009"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-application:
    image: dev1pci2025/bletrackingbackend-mst-application:prod
    ports:
      - "5007:5007"
    volumes:
      - ./.env:/app/.env
    restart: always

  visitor:
    image: dev1pci2025/bletrackingbackend-visitor:prod
    ports:
      - "5019:5019"
    volumes:
      - visitor_face_images:/app/Uploads/visitorFaceImages
      - ./.env:/app/.env
    restart: always

  alarm-record-tracking:
    image: dev1pci2025/bletrackingbackend-alarm-record-tracking:prod
    ports:
      - "5002:5002"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-building:
    image: dev1pci2025/bletrackingbackend-mst-building:prod
    ports:
      - "5010:5010"
    # depends_on:
    #   - mst-application
    volumes:
      - building_images:/app/Uploads/BuildingImages
      - ./.env:/app/.env
    restart: always

  mst-department:
    image: dev1pci2025/bletrackingbackend-mst-department:prod
    ports:
      - "5011:5011"
    # depends_on:
    #   - mst-application
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-district:
    image: dev1pci2025/bletrackingbackend-mst-district:prod
    ports:
      - "5012:5012"
    # depends_on:
    #   - mst-application
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-member:
    image: dev1pci2025/bletrackingbackend-mst-member:prod
    ports:
      - "5016:5016"
    # depends_on:
    #   - mst-application
    #   - mst-organization
    #   - mst-department
    #   - mst-district
    volumes:
      - member_face_images:/app/Uploads/MemberFaceImages
      - ./.env:/app/.env
    restart: always

  mst-organization:
    image: dev1pci2025/bletrackingbackend-mst-organization:prod
    ports:
      - "5017:5017"
    # depends_on:
    #   - mst-application
    volumes:
      - ./.env:/app/.env
    restart: always

  tracking-transaction:
    image: dev1pci2025/bletrackingbackend-tracking-transaction:prod
    ports:
      - "5018:5018"
    # depends_on:
    #   - mst-blereader
    #   - floorplan-masked-area
    volumes:
      - ./.env:/app/.env
    restart: always

  blacklist-area:
    image: dev1pci2025/bletrackingbackend-blacklist-area:prod
    ports:
      - "5020:5020"
    # depends_on:
    #   - floorplan-masked-area
    #   - visitor
    volumes:
      - ./Uploads/visitorFaceImages:/app/Uploads/visitorFaceImages
      - ./.env:/app/.env
    restart: always

  ble-reader-node:
    image: dev1pci2025/bletrackingbackend-ble-reader-node:prod
    ports:
      - "5021:5021"
    # depends_on:
    #   - mst-blereader
    #   - mst-application
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-engine:
    image: dev1pci2025/bletrackingbackend-mst-engine:prod
    ports:
      - "5022:5022"
    # depends_on:
    #   - mst-blereader
    #   - mst-application
    volumes:
      - ./.env:/app/.env
    restart: always

  card-record:
    image: dev1pci2025/bletrackingbackend-card-record:prod
    ports:
      - "5024:5024"
    volumes:
      - ./.env:/app/.env
    restart: always

  trx-visitor:
    image: dev1pci2025/bletrackingbackend-trx-visitor:prod
    ports:
      - "5025:5025"
    volumes:
      - ./.env:/app/.env
    restart: always
  monitoring-config:
    image: dev1pci2025/bletrackingbackend-monitoring-config:prod
    ports:
      - "5029:5029"
    volumes:
      - ./.env:/app/.env
    restart: always

  geofence:
    image: dev1pci2025/bletrackingbackend-geofence:prod
    ports:
      - "5030:5030"
    volumes:
      - ./.env:/app/.env
    restart: always

  card:
    image: dev1pci2025/bletrackingbackend-card:prod
    ports:
      - "5026:5026"
    volumes:
      - ./.env:/app/.env
    restart: always

  card-access:
    image: dev1pci2025/bletrackingbackend-card-access:prod
    ports:
      - "5028:5028"
    volumes:
      - ./.env:/app/.env
    restart: always

  alarm-triggers:
    image: dev1pci2025/bletrackingbackend-alarm-triggers:prod
    ports:
      - "5027:5027"
    volumes:
      - ./.env:/app/.env
    restart: always

  analytics:
    image: dev1pci2025/bletrackingbackend-analytics:prod
    ports:
      - "5031:5031"
    volumes:
      - ./.env:/app/.env
    restart: always

  nginx:
    image: dev1pci2025/bletrackingbackend-nginx:prod
    ports:
      - "5000:5000"
    volumes:
      - ./.env:/app/.env
    restart: always

  gateway-health-api:
    image: dev1pci2025/bletrackingbackend-gateway-health-api:prod
    restart: always
    expose:
      - "8080" # hanya visible untuk Nginx di dalam jaringan Docker

volumes:
  floorplan_images:
  visitor_face_images:
  member_face_images:
  building_images:
