services:
  auth:
    build:
      context: .
      dockerfile: Services.API/Auth/Dockerfile
    image: dev1pci2025/bletrackingbackend-auth:dev
    ports:
      - "5001:5001"
    volumes:
      - ./.env:/app/.env
    restart: always

  floorplan-device:
    build:
      context: .
      dockerfile: Services.API/FloorplanDevice/Dockerfile
    image: dev1pci2025/bletrackingbackend-floorplan-device:dev
    ports:
      - "5003:5003"
    volumes:
      - ./.env:/app/.env
    restart: always

  floorplan-masked-area:
    build:
      context: .
      dockerfile: Services.API/FloorplanMaskedArea/Dockerfile
    image: dev1pci2025/bletrackingbackend-floorplan-masked-area:dev
    ports:
      - "5004:5004"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-floor:
    build:
      context: .
      dockerfile: Services.API/MstFloor/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-floor:dev
    ports:
      - "5013:5013"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-floorplan:
    build:
      context: .
      dockerfile: Services.API/MstFloorplan/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-floorplan:dev
    ports:
      - "5014:5014"
    volumes:
      - floorplan_images:/app/Uploads/FloorplanImages
      - ./.env:/app/.env
    restart: always

  mst-integration:
    build:
      context: .
      dockerfile: Services.API/MstIntegration/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-integration:dev
    ports:
      - "5015:5015"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-accesscontrol:
    build:
      context: .
      dockerfile: Services.API/MstAccessControl/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-accesscontrol:dev
    ports:
      - "5006:5006"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-accesscctv:
    build:
      context: .
      dockerfile: Services.API/MstAccessCctv/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-accesscctv:dev
    ports:
      - "5005:5005"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-blereader:
    build:
      context: .
      dockerfile: Services.API/MstBleReader/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-blereader:dev
    ports:
      - "5008:5008"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-brand:
    build:
      context: .
      dockerfile: Services.API/MstBrand/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-brand:dev
    ports:
      - "5009:5009"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-application:
    build:
      context: .
      dockerfile: Services.API/MstApplication/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-application:dev
    ports:
      - "5007:5007"
    volumes:
      - ./.env:/app/.env
    restart: always

  visitor:
    build:
      context: .
      dockerfile: Services.API/Visitor/Dockerfile
    image: dev1pci2025/bletrackingbackend-visitor:dev
    ports:
      - "5019:5019"
    volumes:
      - visitor_face_images:/app/Uploads/visitorFaceImages
      - ./.env:/app/.env
    restart: always

  alarm-record-tracking:
    build:
      context: .
      dockerfile: Services.API/AlarmRecordTracking/Dockerfile
    image: dev1pci2025/bletrackingbackend-alarm-record-tracking:dev
    ports:
      - "5002:5002"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-building:
    build:
      context: .
      dockerfile: Services.API/MstBuilding/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-building:dev
    ports:
      - "5010:5010"
    volumes:
      - building_images:/app/Uploads/BuildingImages
      - ./.env:/app/.env
    restart: always

  mst-department:
    build:
      context: .
      dockerfile: Services.API/MstDepartment/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-department:dev
    ports:
      - "5011:5011"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-district:
    build:
      context: .
      dockerfile: Services.API/MstDistrict/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-district:dev
    ports:
      - "5012:5012"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-member:
    build:
      context: .
      dockerfile: Services.API/MstMember/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-member:dev
    ports:
      - "5016:5016"
    volumes:
      - member_face_images:/app/Uploads/MemberFaceImages
      - security_face_images:/app/Uploads/SecurityFaceImages
      - ./.env:/app/.env
    restart: always

  mst-organization:
    build:
      context: .
      dockerfile: Services.API/MstOrganization/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-organization:dev
    ports:
      - "5017:5017"
    volumes:
      - ./.env:/app/.env
    restart: always

  tracking-transaction:
    build:
      context: .
      dockerfile: Services.API/TrackingTransaction/Dockerfile
    image: dev1pci2025/bletrackingbackend-tracking-transaction:dev
    ports:
      - "5018:5018"
    volumes:
      - ./.env:/app/.env
    restart: always

  jobs-scheduler:
    build:
      context: .
      dockerfile: Services.API/JobsScheduler/Dockerfile
    image: dev1pci2025/bletrackingbackend-jobs-scheduler:dev
    volumes:
      - ./.env:/app/.env
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=devuction

  ble-reader-node:
    build:
      context: .
      dockerfile: Services.API/BleReaderNode/Dockerfile
    image: dev1pci2025/bletrackingbackend-ble-reader-node:dev
    ports:
      - "5021:5021"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-engine:
    build:
      context: .
      dockerfile: Services.API/MstEngine/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-engine:dev
    ports:
      - "5022:5022"
    volumes:
      - ./.env:/app/.env
    restart: always

  card-record:
    build:
      context: .
      dockerfile: Services.API/CardRecord/Dockerfile
    image: dev1pci2025/bletrackingbackend-card-record:dev
    ports:
      - "5024:5024"
    volumes:
      - ./.env:/app/.env
    restart: always

  trx-visitor:
    build:
      context: .
      dockerfile: Services.API/TrxVisitor/Dockerfile
    image: dev1pci2025/bletrackingbackend-trx-visitor:dev
    ports:
      - "5025:5025"
    volumes:
      - ./.env:/app/.env
    restart: always

  card:
    build:
      context: .
      dockerfile: Services.API/Card/Dockerfile
    image: dev1pci2025/bletrackingbackend-card:dev
    ports:
      - "5026:5026"
    volumes:
      - ./.env:/app/.env
    restart: always

  alarm-triggers:
    build:
      context: .
      dockerfile: Services.API/AlarmTriggers/Dockerfile
    image: dev1pci2025/bletrackingbackend-alarm-triggers:dev
    ports:
      - "5027:5027"
    volumes:
      - ./.env:/app/.env
    restart: always

  card-access:
    build:
      context: .
      dockerfile: Services.API/CardAccess/Dockerfile
    image: dev1pci2025/bletrackingbackend-card-access:dev
    ports:
      - "5028:5028"
    volumes:
      - ./.env:/app/.env
    restart: always

  monitoring-config:
    build:
      context: .
      dockerfile: Services.API/MonitoringConfig/Dockerfile
    image: dev1pci2025/bletrackingbackend-monitoring-config:dev
    ports:
      - "5029:5029"
    volumes:
      - ./.env:/app/.env
    restart: always

  geofence:
    build:
      context: .
      dockerfile: Services.API/Geofence/Dockerfile
    image: dev1pci2025/bletrackingbackend-geofence:dev
    ports:
      - "5030:5030"
    volumes:
      - ./.env:/app/.env
    restart: always
  analytics:
    build:
      context: .
      dockerfile: Services.API/Analytics/Dockerfile
    image: dev1pci2025/bletrackingbackend-analytics:dev
    ports:
      - "5031:5031"
    volumes:
      - ./.env:/app/.env
    restart: always

  # license-checker:
  #   build:
  #     context: .
  #     dockerfile: Services.API/LicenseChecker/Dockerfile
  #   volumes:
  #     - ./license.txt:/app/license.txt
  #   stdin_open: true # biar bisa input dari keyboard
  #   tty: true
  #   restart: "no"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    image: dev1pci2025/bletrackingbackend-nginx:dev
    ports:
      - "5000:5000"
    volumes:
      - ./.env:/app/.env
    restart: always

  gateway-health-api:
    build:
      context: .
      dockerfile: Services.API/GatewayHealthApi/Dockerfile
    image: dev1pci2025/bletrackingbackend-gateway-health-api:dev
    restart: always
    # volumes:
    #   - ./appsettings.json:/app/appsettings.json
    expose:
      - "8080" # hanya visible untuk Nginx di dalam jaringan Docker
    networks:
      - default

  # cloudflare-tunnel:
  #   image: cloudflare/cloudflared:latest
  #   container_name: cloudflare-tunnel
  #   command: tunnel --url http://host.docker.internal:5000
  #   restart: unless-stopped
  #   environment:
  #     - TUNNEL_LOGLEVEL=info
#   sqlserver:
#     image: mcr.microsoft.com/mssql/server:2022-dev
#     container_name: sqlserver
#     ports:
#       - "1433:1433"
#     environment:
#       SA_PASSWORD: "P@ssw0rd"
#       ACCEPT_EULA: "Y"
#     volumes:
#       - sqlserver_data:/var/opt/mssql

# volumes:
#   sqlserver_data:
volumes:
  floorplan_images:
  visitor_face_images:
  security_face_images:
  member_face_images:
  building_images:
