services:
  auth:
    build:
      context: .
      dockerfile: Services.API/Auth/Dockerfile
    image: dev1pci2025/bletrackingbackend-auth:latest
    ports:
      - "5001:5001"
    volumes:
      - ./.env:/app/.env
    restart: always

  floorplan-device:
    build:
      context: .
      dockerfile: Services.API/FloorplanDevice/Dockerfile
    image: dev1pci2025/bletrackingbackend-floorplan-device:latest
    ports:
      - "5003:5003"
    volumes:
      - ./.env:/app/.env
    restart: always

  floorplan-masked-area:
    build:
      context: .
      dockerfile: Services.API/FloorplanMaskedArea/Dockerfile
    image: dev1pci2025/bletrackingbackend-floorplan-masked-area:latest
    ports:
      - "5004:5004"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-floor:
    build:
      context: .
      dockerfile: Services.API/MstFloor/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-floor:latest
    ports:
      - "5013:5013"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-floorplan:
    build:
      context: .
      dockerfile: Services.API/MstFloorplan/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-floorplan:latest
    ports:
      - "5014:5014"
    volumes:
      - ./Uploads/FloorplanImages:/app/Uploads/FloorplanImages
      - ./.env:/app/.env
    restart: always

  mst-integration:
    build:
      context: .
      dockerfile: Services.API/MstIntegration/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-integration:latest
    ports:
      - "5015:5015"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-accesscontrol:
    build:
      context: .
      dockerfile: Services.API/MstAccessControl/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-accesscontrol:latest
    ports:
      - "5006:5006"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-accesscctv:
    build:
      context: .
      dockerfile: Services.API/MstAccessCctv/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-accesscctv:latest
    ports:
      - "5005:5005"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-blereader:
    build:
      context: .
      dockerfile: Services.API/MstBleReader/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-blereader:latest
    ports:
      - "5008:5008"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-brand:
    build:
      context: .
      dockerfile: Services.API/MstBrand/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-brand:latest
    ports:
      - "5009:5009"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-application:
    build:
      context: .
      dockerfile: Services.API/MstApplication/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-application:latest
    ports:
      - "5007:5007"
    volumes:
      - ./.env:/app/.env
    restart: always

  visitor:
    build:
      context: .
      dockerfile: Services.API/Visitor/Dockerfile
    image: dev1pci2025/bletrackingbackend-visitor:latest
    ports:
      - "5019:5019"
    volumes:
      - ./.env:/app/.env
    restart: always

  alarm-record-tracking:
    build:
      context: .
      dockerfile: Services.API/AlarmRecordTracking/Dockerfile
    image: dev1pci2025/bletrackingbackend-alarm-record-tracking:latest
    ports:
      - "5002:5002"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-building:
    build:
      context: .
      dockerfile: Services.API/MstBuilding/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-building:latest
    ports:
      - "5010:5010"
    volumes:
      - ./Uploads/BuildingImages:/app/Uploads/BuildingImages
      - ./.env:/app/.env
    restart: always

  mst-department:
    build:
      context: .
      dockerfile: Services.API/MstDepartment/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-department:latest
    ports:
      - "5011:5011"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-district:
    build:
      context: .
      dockerfile: Services.API/MstDistrict/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-district:latest
    ports:
      - "5012:5012"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-member:
    build:
      context: .
      dockerfile: Services.API/MstMember/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-member:latest
    ports:
      - "5016:5016"
    volumes:
      - ./Uploads/MemberFaceImages:/app/Uploads/MemberFaceImages
      - ./.env:/app/.env
    restart: always

  mst-organization:
    build:
      context: .
      dockerfile: Services.API/MstOrganization/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-organization:latest
    ports:
      - "5017:5017"
    volumes:
      - ./.env:/app/.env
    restart: always

  tracking-transaction:
    build:
      context: .
      dockerfile: Services.API/TrackingTransaction/Dockerfile
    image: dev1pci2025/bletrackingbackend-tracking-transaction:latest
    ports:
      - "5018:5018"
    volumes:
      - ./.env:/app/.env
    restart: always

  blacklist-area:
    build:
      context: .
      dockerfile: Services.API/BlacklistArea/Dockerfile
    image: dev1pci2025/bletrackingbackend-blacklist-area:latest
    ports:
      - "5020:5020"
    volumes:
      - ./Uploads/visitorFaceImages:/app/Uploads/visitorFaceImages
      - ./.env:/app/.env
    restart: always

  ble-reader-node:
    build:
      context: .
      dockerfile: Services.API/BleReaderNode/Dockerfile
    image: dev1pci2025/bletrackingbackend-ble-reader-node:latest
    ports:
      - "5021:5021"
    volumes:
      - ./.env:/app/.env
    restart: always

  mst-engine:
    build:
      context: .
      dockerfile: Services.API/MstEngine/Dockerfile
    image: dev1pci2025/bletrackingbackend-mst-engine:latest
    ports:
      - "5022:5022"
    volumes:
      - ./.env:/app/.env
    restart: always

  card-record:
    build:
      context: .
      dockerfile: Services.API/CardRecord/Dockerfile
    image: dev1pci2025/bletrackingbackend-card-record:latest
    ports:
      - "5024:5024"
    volumes:
      - ./.env:/app/.env
    restart: always

  trx-visitor:
    build:
      context: .
      dockerfile: Services.API/TrxVisitor/Dockerfile
    image: dev1pci2025/bletrackingbackend-trx-visitor:latest
    ports:
      - "5025:5025"
    volumes:
      - ./.env:/app/.env
    restart: always

  card:
    build:
      context: .
      dockerfile: Services.API/Card/Dockerfile
    image: dev1pci2025/bletrackingbackend-card:latest
    ports:
      - "5026:5026"
    volumes:
      - ./.env:/app/.env
    restart: always

  alarm-triggers:
    build:
      context: .
      dockerfile: Services.API/AlarmTriggers/Dockerfile
    image: dev1pci2025/bletrackingbackend-alarm-triggers:latest
    ports:
      - "5027:5027"
    volumes:
      - ./.env:/app/.env
    restart: always

  card-access:
    build:
      context: .
      dockerfile: Services.API/CardAccess/Dockerfile
    image: dev1pci2025/bletrackingbackend-card-access:latest
    ports:
      - "5028:5028"
    volumes:
      - ./.env:/app/.env
    restart: always

  monitoring-config:
    build:
      context: .
      dockerfile: Services.API/MonitoringConfig/Dockerfile
    image: dev1pci2025/bletrackingbackend-monitoring-config:latest
    ports:
      - "5029:5029"
    volumes:
      - ./.env:/app/.env
    restart: always

  geofence:
    build:
      context: .
      dockerfile: Services.API/Geofence/Dockerfile
    image: dev1pci2025/bletrackingbackend-geofence:latest
    ports:
      - "5030:5030"
    volumes:
      - ./.env:/app/.env
    restart: always

  # license-checker:
  #   build:
  #     context: .
  #     dockerfile: Services.API/LicenseChecker/Dockerfile
  #   volumes:
  #     - ./license.txt:/app/license.txt
  #   stdin_open: true # biar bisa input dari keyboard
  #   tty: true
  #   restart: "no"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    image: dev1pci2025/bletrackingbackend-nginx:latest
    ports:
      - "5000:5000"
    volumes:
      - ./.env:/app/.env
    restart: always

  gateway-health-api:
    build:
      context: .
      dockerfile: Services.API/GatewayHealthApi/Dockerfile
    container_name: gateway-health-api
    restart: always
    expose:
      - "8080" # hanya visible untuk Nginx di dalam jaringan Docker
    networks:
      - default
#   sqlserver:
#     image: mcr.microsoft.com/mssql/server:2022-latest
#     container_name: sqlserver
#     ports:
#       - "5433:1433"
#     environment:
#       SA_PASSWORD: "P@ssw0rd"
#       ACCEPT_EULA: "Y"
#     volumes:
#       - sqlserver_data:/var/opt/mssql

# volumes:
#   sqlserver_data:
